name: psychological-testing-app

services:
  frontend:
    image: ghcr.io/mraksimus/psychologicaltesting.frontend/frontend:latest
    container_name: psychological-testing-frontend
    ports:
      - "3000:80"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

